body {
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
background-color: black;
}

/*-------Form format------*/
.form1 {
	width:400px;
	background: white;
	margin:0 auto;
	padding:14px;
	
	position: relative;
	top:50px;
}


/*---------form style-------*/

#style {
	background: #ebf4fb;
	border:solid 2px #b7ddf2;
}

#style h1 {
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom:solid 2px #b7ddf2; 
}


#style input {
float: top; 

}


