body{
background: #0e0e0e; /* Old browsers */
background: -moz-linear-gradient(top,  #0e0e0e 3%, #7d7e7d 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#0e0e0e), color-stop(83%,#7d7e7d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #0e0e0e 3%,#7d7e7d 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #0e0e0e 3%,#7d7e7d 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #0e0e0e 3%,#7d7e7d 83%); /* IE10+ */
background: linear-gradient(to bottom,  #0e0e0e 3%,#7d7e7d 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
background-image:url('http://www.wallpapercube.com/lake-view_wallpapers_3738_1920x1440.jpg');
color:#B7DDF2;
}
h1{
	margin:0;
}
h2{
	margin:0 ;
}
.title {
	font-family:cursive;
	text-shadow: 3px 3px 4px green;
	margin-bottom: 20px;
}
#content {
	font-family:Fixedsys;
	min-width:800px;
	margin:auto;
	width:70%;


	}

.menu, .login {


}
.login {
    width:60%;
    padding:40px;
    text-align:center;
    margin:50px auto;

}
.login h1{
	margin-bottom:20px;
}
.login ul input{
	width:120px;
	height: 30px;
	font-size:16px;
}
.login ul{
	padding-left:0;
}
.login ul li{
    list-style:none;
    display:inline;
}
.menu {

}
.menu ul{
	list-style:square;
}
.menu ul li{
	padding: 5px 0;
	list-style:none;
}

label {
display:block;
font-size:30px;
}

footer {

	clear:both;
}

